---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Ayie | About" description="This is where i share aboutt myself">
  <section class="relative min-h-dvh">
    <h1 class="text-5xl font-semibold tracking-tight scroll-m-20">about</h1>
    <p
      class="text-slate-500 left-1/2 top-1/2 absolute transform -translate-x-1/2 -translate-y-1/2"
    >
      Nothing here yet
    </p>
  </section>
</Layout>
