---
import PostLists from "@/components/PostLists.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Ayie | Insights"
  description="This is where i share my thoughts about design and development"
>
  <section>
    <h1 class="text-5xl font-semibold tracking-tight scroll-m-20">insights</h1>
    <PostLists />
  </section>
</Layout>
