---
import Layout from "../layouts/layout.astro";
---

<Layout title="Ayie | Insights" description="This is where i share my thoughts about design and development">
  <section class="relative min-h-dvh">
    <h1 class="text-6xl font-medium tracking-tight scroll-m-20">insights</h1>
    <p class="text-slate-500 left-1/2 top-1/2 absolute transform -translate-x-1/2 -translate-y-1/2">Nothing here yet</p>
  </section>
</Layout>
