---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ayie | Insights">
  <section class="relative min-h-dvh">
    <h1>insights</h1>
    <p class="text-slate-500 left-1/2 top-1/2 absolute transform -translate-x-1/2 -translate-y-1/2">Nothing here yet</p>
  </section>
</Layout>