---
import { ArrowUpRight } from "@lucide/astro";

const footerLinks = [
  {
    name: "github",
    url: "https://github.com/ayiezac78",
  },
  {
    name: "email",
    url: "https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=admaniago01@gmail.com",
  },
  {
    name: "linkedin",
    url: "https://www.linkedin.com/in/ayie",
  },
];
---

<footer class="font-medium flex gap-2">
  {
    footerLinks.map((link) => (
      <a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href={link.url}
        class="flex items-center gap-1 text-sm leading-none font-medium text-gray-600/90 hover:text-[#292929] transition-colors duration-200 ease-in-out dark:text-slate-300 dark:hover:text-slate-100"
      >
        <ArrowUpRight size={18} aria-hidden="true" />
        {link.name}
      </a>
    ))
  }
  <!-- <a target="_blank" rel="noopener noreferrer nofollow" href="https://github.com/ayiezac78">github</a> -->
</footer>
