---
import { FileDown, ImagesIcon } from "@lucide/astro";
import resumePdf from "@/assets/pdf/Ariel-Maniago-Resume.pdf";
import { Button } from "@/components/ui/button";

const { pathname } = Astro.url;
const navLinks = [
	{
		name: "ayie",
		url: "/",
		kbd: "A",
	},
	{
		name: "insights",
		url: "/insights/",
		kbd: "I",
	},
	{
		name: "builds",
		url: "/builds/",
		kbd: "S",
	},
	// {
	//   name: "routes",
	// },
];
---

<header class="flex items-center justify-between">
  <nav class="flex items-center justify-between w-full">
    <ul class="font-medium flex gap-2">
      {
        navLinks.map(({ url, name }) => (
          <li>
            <Button variant="link" size="sm" asChild client:load>
              <a
                href={url}
                class={`${pathname === url ? "" : "text-muted-foreground hover:text-primary transition-colors duration-200 ease-in-out"} flex items-center gap-1`}
              >
                {name}
              </a>
            </Button>
            {/* )} */}
          </li>
        ))
      }
    </ul>
    <ul class="flex items-center gap-2">
      <li>
        <a href="/photos" title="photos" aria-label="photos">
          <ImagesIcon
            size={20}
            class="text-muted-foreground hover:text-primary"
          />
        </a>
      </li>
      <li>
        <a
          href={resumePdf}
          title="Download Resume"
          aria-label="Download Resume"
          download
        >
          <FileDown
            size={20}
            class="text-muted-foreground hover:text-primary"
          />
        </a>
      </li>
    </ul>
  </nav>
</header>
<!-- <script is:inline>
  document.addEventListener("keydown", (e) => {
    // ignore typing in input/textarea
    const activeTag = document.activeElement.tagName.toLowerCase();
    if (["input", "textarea"].includes(activeTag)) return;

    const shortcuts = {
      a: "/",
      i: "/insights/",
      s: "/showcase/",
    };

    const key = e.key.toLowerCase();

    if (shortcuts[key]) {
      window.location.href = shortcuts[key];
    }
  });
</script> -->
