---
import Github from '@/assets/svg/icons/logos/github.astro'
import Gmail from '@/assets/svg/icons/logos/gmail.astro'
import Linkedin from '@/assets/svg/icons/logos/linkedin.astro'
import Logo from '@/assets/svg/icons/logos/logo.astro'

const socialsLinks = [
  {
    name: 'github',
    icon: Github,
    url: 'https://github.com/ayiezac78',
  },
  {
    name: 'email',
    icon: Gmail,
    url: 'mailto:admaniago01@gmail.com',
  },
  {
    name: 'linkedin',
    icon: Linkedin,
    url: 'https://www.linkedin.com/in/ayie',
  },
]
---

<footer class="p-4 flex justify-between w-full">
  <div class="flex gap-3 justify-center">
    {
      socialsLinks.map((link) => (
        <a
          href={link.url}
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label={`Visit my ${link.name}`}
          class="flex items-center gap-1 text-sm font-semibold text-gray-600/90 hover:text-black dark:text-slate-300 dark:hover:text-slate-100 transition-colors duration-200 ease-in-out group"
        >
          <link.icon class="w-5 h-5 me-1.5" aria-hidden="true" />
        </a>
      ))
    }
  </div>
</footer>
