---
import AstroIcon from "../assets/astro-icon.astro";
import BootstrapIcon from "../assets/bootstrap-icon.astro";
import CssIcon from "../assets/css-icon.astro";
import GitIcon from "../assets/git-icon.astro";
import Nextjs from "../assets/nextjs.astro";
import PhpIcon from "../assets/php-icon.astro";
import ReactIcon from "../assets/react-icon.astro";
import SassIcon from "../assets/sass-icon.astro";
import TailwindIcon from "../assets/tailwind-icon.astro";

const techStackIcons = [
  {
    name: "React",
    icon: ReactIcon,
  },
  {
    name: "Tailwind",
    icon: TailwindIcon,
  },
  {
    name: "PHP",
    icon: PhpIcon,
  },
  {
    name: "Astro",
    icon: AstroIcon,
  },
  {
    name: "Sass",
    icon: SassIcon,
  },
  {
    name: "CSS",
    icon: CssIcon,
  },
  {
    name: "Bootstrap",
    icon: BootstrapIcon,
  },
  {
    name: "Git",
    icon: GitIcon,
  },
  {
    name: "Next.js",
    icon: Nextjs,
  },
];
---

<section class="mt-6">
  <h2
    class="scroll-m-20 font-medium tracking-tight first:mt-0 flex items-center gap-2 text-2xl"
  >
    ✨
    <span class="tracking-wide"
      >tech<span class="text-gray-600 dark:text-slate-300"> i use</span>
    </span>
  </h2>
  <ul class="grid grid-cols-2 gap-3 mt-4">
    {
      techStackIcons.map((icon) => (
        <li class="flex items-center gap-2">
          <span class=" text-gray-800 dark:text-gray-400 font-medium text-xs inline-flex items-center px-2.5 py-0.5 rounded-full me-2">
            <icon.icon class="w-5 h-5 me-1.5" aria-hidden="true" />
            {icon.name}
          </span>
        </li>
      ))
    }
  </ul>
</section>
