---
import { Binary, Dot } from "@lucide/astro";
import ReactIcon from "../assets/ReactIcon.astro";
import TailwindIcon from "../assets/TailwindIcon.astro";
import PhpIcon from "../assets/PhpIcon.astro";
import AstroIcon from "../assets/AstroIcon.astro";

const techStackIcons = [
  {
    name: "React",
    icon: ReactIcon,
  },
  {
    name: "Tailwind",
    icon: TailwindIcon,
  },
  {
    name: "PHP",
    icon: PhpIcon,
  },
  {
    name: "Astro",
    icon: AstroIcon,
  },
]
---

<section id="hero" class="space-y-4">
  <div class="space-y-2">
    <h1 class="scroll-m-20 tracking-tight">
      meet <span class="font-semibold text-red-700 dark:text-red-400">ayie</span
      >
      <span
        class="block font-semibold scroll-m-20 text-lg tracking-wide text-slate-600/90 dark:text-slate-300 uppercase"
        >fullstack web developer</span
      >
    </h1>
  </div>
  <p
    class="leading-7 [&:not(:first-child)]:mt-6 font-medium text-base text-gray-600 dark:text-slate-300 italic"
  >
    I craft websites that move at the speed of thought. 🚀
  </p>
  <small
    class="text-sm text-slate-600 dark:text-slate-300 leading-none font-medium flex items-center [&:not(:first-child)]:mt-6"
  >
    <span
      ><Dot
        stroke-width={6}
        class="text-green-800 dark:text-green-400 animate-pulse"
      /></span
    > Currently working at &nbsp; <a
      target="_blank"
      rel="noopener noreferrer nofollow"
      href="https://cenixweb.com/"
      class="underline decoration-transparent hover:decoration-inherit text-red-600 hover:text-red-700 dark:text-red-400 dark:hover:text-red-500 transition"
      >Cenix</a
    >
  </small>
</section>
<section class="mt-6">
  <h2
    class="h5 scroll-m-20 font-medium tracking-tight first:mt-0 flex items-center gap-2"
  >
    <Binary />
    <span class="tracking-wide"
      ><span class="text-red-700 dark:text-red-400">tech</span> i use</span
    >
  </h2>
  <ul class="grid grid-cols-2 gap-3 mt-4">
    {techStackIcons.map((icon) => (
      <li class="flex items-center gap-2">
        <span
          class="bg-gray-100 text-gray-800 font-medium text-xs inline-flex items-center px-2.5 py-0.5 rounded-full me-2"
        >
          <icon.icon class="w-3 h-3 me-1.5" aria-hidden="true" />
          {icon.name}
        </span>
      </li>
    ))}
    <!-- <li class="flex items-center gap-2">
      <span
        class="bg-gray-100 text-gray-800 font-medium inline-flex items-center px-2.5 py-0.5 rounded-full me-2 dark:bg-gray-700 dark:text-gray-400"
      >
        <ReactIcon class="w-3 h-3 me-1.5" aria-hidden="true" />
        React
      </span>
    </li> -->
  </ul>
</section>

<!-- <style scoped>
  /* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);

</style> -->
