---
import "../assets/css/globals.css";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import { Head } from "astro-capo";
import LoadingIndicator from "astro-loading-indicator/component";
import Footer from "@/components/base/Footer.astro";
import Navbar from "@/components/base/Navbar.astro";
import ThemeIcon from "@/components/base/ThemeIcon.astro";

interface MetaDataProps {
	title: string;
	description: string;
}

const {
	title = "Ayie",
	description = "Showcasing my work in design and development, blending creativity with functionality to deliver impactful projects and collaborations.",
} = Astro.props as MetaDataProps;

const canonicalURL = Astro.url;
---

<!doctype html>
<html lang="en">
  <Head>
    <script is:inline>
      const theme = (() => {
        if (localStorage?.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return null;
      })();
      if (theme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <LoadingIndicator color="#FFA34D" />
    <Font cssVariable="--font-khand" preload />
    <Font cssVariable="--font-supreme" preload />
    <link rel="canonical" href={canonicalURL} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <script is:inline type="module">
      if (!("anchorName" in document.documentElement.style)) {
        import("https://unpkg.com/@oddbird/css-anchor-positioning");
      }
    </script>
  </Head>
  <body class="w-full flex flex-col justify-start p-4 max-w-xl mx-auto gap-6">
    <Navbar />
    <main class="flex-auto relative">
      <slot />
      <ThemeIcon />
    </main>
    <Footer />
  </body>
</html>
